body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2563c1;
  color: #333;
  padding: 40px;
  max-width: 800px;
  margin: auto;
  background: linear-gradient(to right, #ccefff, #e0f7fa);
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2rem;
  margin-top: 40px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
}

input, select, button {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

input[type="date"] {
  padding: 6px 10px;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2563eb;
}

.saved-job {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.saved-job strong {
  color: #1f2937;
}

.saved-job p {
  margin: 5px 0;
}

.saved-job a {
  color: #3b82f6;
  text-decoration: none;
  margin-right: 10px;
}

.saved-job a:hover {
  text-decoration: underline;
}

.saved-job button {
  background-color: #ef4444;
  margin-top: 5px;
}

.saved-job button:hover {
  background-color: #d38210;
}


.auth-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #1f2937;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-container button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-container button:hover {
  background-color: #2563eb;
}

.auth-container a {
  color: #3b82f6;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.auth-container p {
  margin-top: 15px;
}


.logout-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ef4444;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
}
